In [1]:
import os
from dotenv import load_dotenv
from sqlalchemy import create_engine, select, MetaData
from sqlalchemy.orm import sessionmaker, declarative_base
import pandas as pd

In [2]:
load_dotenv()
DB_URL = os.getenv("DB_VM_URL")
print(DB_URL)
engine = create_engine(DB_URL)
conn = engine.connect()
metadata = MetaData()
metadata.reflect(bind=engine)

mssql+pyodbc://SA:Password123*@127.0.0.1:1438/voka?driver=ODBC+Driver+17+for+SQL+Server&TrustServerCertificate=yes

In [5]:
#get Inschrijvingen, Contact en account
print(metadata.tables.keys())
Pageviews = metadata.tables['Pageviews']
Contact = metadata.tables['Contactfiche']
Account = metadata.tables['Account']
query = select(Pageviews.c.PageTitle, Account.c.AccountId).join(Contact, Pageviews.c.ContactId == Contact.c.ContactpersoonId).join(Account, Contact.c.AccountId == Account.c.AccountId)
result = conn.execute(query)

#convert to dataframe
df = pd.DataFrame(result.fetchall())

dict_keys(['Account', 'AccountActiviteitscode', 'Activiteitscode', 'AccountFinancieleData', 'AfspraakAccount', 'AfspraakContact', 'Contactfiche', 'Persoon', 'AfspraakVereistContact', 'Campagne', 'ContactficheFunctie', 'Functie', 'Gebruiker', 'InfoEnKlachten', 'Inschrijving', 'Mailing', 'Pageviews', 'Visits', 'SendEmailClicks', 'Sessie', 'SessieInschrijving', 'sysdiagrams', 'WebContent'])

In [6]:
print(df.head())

                                           PageTitle  \
0  Weer hogere loonindexering op komst in 2024 | ...
1                     Nieuwjaarsinvitito 2023 | Voka
2                               Netwerkevents | Voka
3                                   Marketing | Voka
4   Bedrijfsafval: dit verandert op 1 januari | Voka

                              AccountId
0  99C841DF-C768-E111-B43A-00505680000A
1  44EDC779-6A76-E611-80E3-001DD8B72B62
2  371D1C8C-D868-E111-B43A-00505680000A
3  FCA86F9D-C668-E111-B43A-00505680000A
4  6D3D3D4D-B067-E111-A00F-00505680000A

In [54]:
#make a dataframe of all the page titles per account
def make_dataframe_per_account(df):

In [55]:
data = make_dataframe_per_account(df)

KeyError: 1

In [53]:
data

                                                       0
0                                                    ...
1                                                    ...
2                                                    ...
3                                                    ...
4                                                    ...
...                                                  ...
12062                                                ...
12063                                                ...
12064                                                ...
12065                                                ...
12066                                                ...

[12067 rows x 1 columns]